$sidebar-width: 250px;
$inner-width: 600px;
$two-col-width: $sidebar-width + $inner-width;
$one-col-header-height: 50px;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: $font-default;
    font-weight: 300;
    font-size: 14px;
    background: $color-background;
    color: $color-gray01;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.3em;
}
a {
	text-decoration: none;
	outline-width: 0;
	color: $color-main;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.clearfix {
	@include pie-clearfix;
}

//  WIDTH: LESS THAN 600px
// $two-col-width: 850px
@media only screen and (max-width: 850px) {
    .inner {
	margin: 0 20px;
	margin-top: $one-col-header-height;
    }
}

// WIDTH: 600 - 850px 
// $inner-width: 600px;
@media only screen and (min-width: 600px) {
    .inner {
	width: $inner-width;
	margin: auto;
	margin-top: $one-col-header-height;
    }
}

// WIDTH: GREATER THAN 850px
// $two-col-width: 850px
@media only screen and (min-width: 850px) {
    .inner {
	width: $inner-width;
	margin: 0 0;
	margin-left: $sidebar-width + 40px;
    }
}
