<hgroup>
  <div class="picture">
    <a href="{{ root_url }}/" rel="home"></a>
  </div>
  <h1>Willi Ballenthin</h1>
  <h2>{% include custom/asides/contact.html %}</h2>
</hgroup>
<nav>
  <ul class="main-nav">
    <li>{% include custom/asides/contact.html %}</li>
    {% if site.simple_search %}
      <form action="{{ site.simple_search }}" method="GET">
	<fieldset role="search">
	  <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
	  <input class="search" type="text" name="q" results="0" placeholder="Search" />
	</fieldset>
      </form>
    {% endif %}
    <li><a href="{{ root_url }}/">Home</a></li>
    <li>{% include asides/github.html  %}</li>
    <li>{% include asides/twitter.html %}</li>

  </ul>
</nav>
